@if (authService.user()) {
<div
  class="fixed top-0 left-0 w-full z-40 flex items-center justify-between bg-gradient-to-r from-blue-600 to-blue-500 px-6 py-4 shadow-md text-white">
  <div class="text-2xl font-bold tracking-wide cursor-pointer" routerLink="/dashboard">DashPilot</div>

  <div class="flex items-center space-x-4">
    <button (click)="Logout()"
      class="px-4 py-2 rounded-2xl bg-pink-500 hover:bg-pink-700 shadow transition duration-300 ease-in-out">
      Log Out
    </button>
  </div>
</div>
}

<div [ngClass]="authService.user() ? 'min-h-screen flex flex-col bg-gray-50 pt-[72px]' : 'min-h-screen bg-gray-50'">
  <!-- Top Bar -->
  <header *ngIf="authService.user()" class="w-full flex items-center justify-between bg-white shadow px-6 py-4">
    <h1 class="text-2xl font-bold text-gray-800 flex items-center">
      <button class="mr-3 p-2 rounded hover:bg-gray-200 focus:outline-none" (click)="toggleSidebar()"
        aria-label="Open menu" type="button">
        <svg class="w-6 h-6 text-gray-700" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>
      Dashboard
    </h1>
    <div class="flex items-center space-x-4">
      <input type="text" placeholder="Search..." class="border rounded-md px-3 py-1 focus:outline-none" />
      <img src="assets/Images/profile.jpeg" alt="Profile" class="w-8 h-8 rounded-full object-cover" />
    </div>
  </header>

  <!-- Body -->
  @if(authService.user()){
  <div class="flex flex-1 overflow-hidden">
    <!-- Sidebar -->
    <app-sidebar [isCollapsed]="isCollapsed" [toggleSidebar]="toggleSidebar"
      class="h-screen flex-shrink-0"></app-sidebar>

    <!-- Main Content Area -->
    <main class="flex-1 overflow-y-auto">
      <router-outlet></router-outlet>
    </main>
  </div>
  }
  @else {
  <router-outlet></router-outlet>
  }
  <!-- <ng-template #loginPage>
    <router-outlet></router-outlet>
  </ng-template> -->
</div>